<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Site.BaseURL }}"
  },
  "headline": "{{ .Title }}",
  "image": [
    "image url",
   ],
  "datePublished": "{{ .Date }}",
  "dateModified": "{{ .Date }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.author }}"
  },
   "publisher": {
    "@type": "Organization",
    "name": "Chris' Coffee",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.Params.logo  | absURL}}"
    }
  },
  "description": "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}"
}
</script>