<style type="text/css">
.cta-button {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: transparent;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.cta-button:hover {
    background-color: transparent;
}

.cta-button:active {
    position: relative;
    top: 1px;
}
</style>
<a href="{{.Get 1}}" target="_blank" class="cta-button">{{.Get 0}}</a>